### 변수

In [2]:
print("Hello Python")

Hello Python

In [11]:
message = "Hello Python!!"
print(message)

Hello Python!!

In [12]:
message = "I study Python."
print(message)

I study Python.

변수 message는 처음에 "Hello Python!!"이라는 문자열을 저장  
이후 "I study Python."이라는 다른 문자열로 저장 가능

### 변수명 제한사항
1. 변수의 이름으로 문자, 숫자, 언더라인만 허용한다. 문자나 언더라인으로 시작할 수 있고 숫자로 시작해서는 안된다.
2. 변수명 중간에 공백이 있어서는 안된다. 밑줄로 두 단어를 구분지어 사용하는 방법을 사용한다.  
ex) abc def -> x  /  abc_def -> o
3. 파이썬에서 사용되는 특수 예악어들은 변수명으로 사용 불가하다. -> 명령어
4. 변수명은 사용 용도에 맞게 의미있는 이름을 사용해야한다.

In [1]:
bulletCount = 20     #카멜 표기법
bullet_Count = 20    #스네이크 표기법 (밑줄 사용)

In [2]:
message = "Hello Python"
print(message)

Hello Python

# 자료형

## 1. 문자열
문자열형은 문자들이 연속적으로 늘어서 있는 형태의 자료, 큰 따옴표나 작은 따옴표로 묶어서 표기한다.

In [11]:
print("안녕하세요")
print('만나서 반갑습니다')

안녕하세요
만나서 반갑습니다

In [21]:
'여러분!' 시작이 반이다. '라는 말 들어 보셨나요?'
"어머니께서" 아들아, 가서 양파 좀 사오너라. "하고 말씀하셨다."
# 오류

SyntaxError: invalid syntax (2117080582.py, line 1)

In [20]:
"여러분!' 시작이 반이다. '라는 말 들어 보셨나요?"
"어머니께서' 아들아, 가서 양파 좀 사오너라. '하고 말씀하셨다."

"어머니께서' 아들아, 가서 양파 좀 사오너라. '하고 말씀하셨다."

\' # 탈출문자(escape squance)사용

In [22]:
"여러분!\' 시작이 반이다. \'라는 말 들어 보셨나요?"
"어머니께서\' 아들아, 가서 양파 좀 사오너라. \'하고 말씀하셨다."

"어머니께서' 아들아, 가서 양파 좀 사오너라. '하고 말씀하셨다."

In [37]:
# 문자열 여러줄 사용할때 큰 따옴표 3개 또는 작은 따옴표 3개를 사용하여 묶어준다.
'''
ㅁㄴㅇㅁㄴㅇ
'''

"""
ㅁㄴㅇㅁㄴㅇ
"""

'\nㅁㄴㅇㅁㄴㅇ\n'

### 문자열 관련 함수들
각각의 단어 첫 글자만 대문자로 변경하고자 하는 경우 'title()'이라는 메소드를 사용한다.

In [29]:
name = "jack smith"    # 전부 소문자
print(name.title())    # 단어 첫 글자들만 대문자로 변경

Jack Smith

### 문자열을 전부 대문자, 소문자로 변경하기 위해서는 upper(), lower()메소드를 사용한다.
-> upper() 대문자, lower() 소문자

In [32]:
name = "Jack Smith"
print(name.upper())
print(name.lower())

JACK SMITH
jack smith

In [34]:
print(name)

Jack Smith

### 문자열 공백 제거 메소드
rstrip() : 문자열 오른쪽 끝 공백을 제거하는 메소드

In [54]:
current_color = "violet "
current_color = current_color.rstrip()
current_color

'violet'

lstrip() : 문자열 왼쪽끝 공백을 제거하는 메소드

In [57]:
current_color = " violet"
current_color = current_color.lstrip()
current_color

'violet '

strip() : 문자열 양쪽 끝 공백을 제거하는 메소드

In [59]:
current_color = " violet "
current_color = current_color.strip()
current_color

'violet'

### 문자열 메소드
1. title() : 문자열에서 단어 첫 글자만 대문자로 변경
2. upper() : 문자열 전부 대문자로 변경
3. lower() : 문자열 전부 소문자로 변경
4. rstrip() : 문자열 오른쪽 끝 공백을 제거
5. lstrip() : 문자열 왼쪽끝 공백을 제거하는 메소드
6. strip() : 문자열 양쪽 끝 공백을 제거하는 메소드

문자열안에서 개행(줄바꿈)시 '\n\' 사용  
tab만큼의 공백을 띄울때는 '\t' 사용

In [140]:
print("1. \\n 사용\n" + "Pyt\nhon")
print()
print("2. \\t 사용\n" + "Pyt\thon")

1. \n 사용
Pyt
hon

2. \t 사용
Pyt	hon

In [71]:
print("language\npython\nC\nJavaScript")

language
python
C
JavaScript

## 2. 숫자형

In [72]:
2 + 3

5

In [73]:
3 - 2

1

In [96]:
print(3 * 2)   # 곱하기는 * (asterisk)를 사용한다.
print(3 ** 3)  # 제곱연산 3^3

6
27

In [99]:
# 나눗셈
print(3 / 2)
print(3 // 2)   # 나누기 연산한 몫만 반환
print(10 % 3)   # 나머지 연산
print(10 // 3)

1.5
1
1
3

In [105]:
# 우선순위는 +, - 보다 *, /가 높다
print(2 + 3 * 4)
# 괄호 사용시 우선순위 부여 가능
print((2 + 3) * 4 / (7 + 3))

14
2.0

### 실수

In [106]:
pi = 3.141592
print(pi)

3.141592

In [113]:
# 실수 연산
print(0.1 + 0.1)
print(2 * 0.2)
print(0.1 + 0.2)   # 부동소수점의 오차

0.2
0.4
0.30000000000000004

In [ ]:
# float

In [ ]:
10.1234 * 10
101.234

In [124]:
number = 5_000_000_000   # 가독성을 높이기 위해 언더바를 사용
print(number)

5000000000

### 대입연산자
변수에 값을 넣는 작업을 대입이라하고 연산자는 '='를 사용한다.

In [129]:
# 파이썬은 여러개의 변수에 값을 한번에 대입할 수 있다.
x, y, z = 10, 20, 30
# x = 10
# y = 20
# z = 30

print("x : ", x, "\ny : ", y, "\nz : ", z)

x :  10
y :  20
z :  30

### 상수(constant number)

In [134]:
# 파이썬에서의 상수는 변수명을 대문자로 표기하는 것으로 약속함
MAXIMUN_HEALTH_POINT = 100
print(MAXIMUN_HEALTH_POINT)

# 상수로 사용하지만 값 변경이 가능하기 때문
MAXIMUN_HEALTH_POINT = 200
print(MAXIMUN_HEALTH_POINT)

100
200

## 3. 불타입 (Boolean Type)
true, false

In [153]:
a = 10
print(a < 0)   # 불타입으로 변환

False

### 문자열 index 사용
문자열안의 각 문자들은 인덱스를 가지며, 원하는 자리의 문자만을 출력하기 위해서는 대괄호안에 원하는 문자의 인덱스를 넣어 출력한다.

In [181]:
str = "Hello Python"

print(str[0])
print(str[6])

# 음수 사용 시 문자열의 뒷부분 부터 시작한다.
print(str[-1])
print(str[-8])

H
P
n
o

### 슬라이싱(Slicing)
문자열을 잘라 원하는 부분만 보기 위해서는 대괄호안에 시작 인덱스와 끝 인덱스를 넣는다. ex) [0 : 3]

In [185]:
original_string = "Hello Python"
print(original_string[0 : 3])
print(original_string[3 : 5])
print(original_string[0 : 5])
print(original_string[:5])   # 첫 부분부터 자를때 시작 인덱스 생략이 가능하다.
print(original_string[6:])   # 끝 부분까지 자를때 끝 인덱스 생략이 가능하다.
print(original_string[:])    # 문자열 전체 출력 -> original_string 동일

Hel
lo
Hello
Hello
Python
Hello Python

### 포맷팅
서식지정자 (주로 사용하는 것 위주)
1. %d : 정수 출력 (demical number)
2. %s : 문자열 출력 (string)
3. %f : 실수형 출력 (float)
4. %o : 8진 정수 출력 (octal number)
5. %x : 16진 정수 출력 (hexa decimal)

In [227]:
print("my name is %s" % "Jang")    # 문자형

dog = "강아지"
cat = "고양이"
print("나는 %s와 %s를 키운다." % (dog, cat))

print("i have %d apples" % 7)      # 정수형

pi = 3.141592
print("pi = %f" % pi)   # 실수형
print("pi = %s" % pi)   # 실수형과 동일하게 보이지만, 실수형을 문자형으로 변환하여 출력한 값

my name is Jang
나는 강아지와 고양이를 키운다.
i have 7 apples
pi = 3.141592
pi = 3.141592

In [235]:
# 정수형 정렬
value = 10
print("value = \'%10d\'" % value)   # %d -> 오른쪽 정렬
print("value = \'%-10d\'" % value)   # %-d -> 왼쪽 정렬

value = '        10'
value = '10        '

In [238]:
# 실수형 값을 소수점 몇 번째 자리까지 출력할 것인지 지정
fValue = 3.141592
print("fValue = %.2f" % fValue)   # 소수점 2번째 까지 출력

fValue = 3.14

In [243]:
# format
num_toy = 10
num_cookie = 5
print("I have {0} toys." .format(num_toy))
print("나는 {0}개의 장난감과 {1}개의 과자를 가지고 있다." .format(num_toy, num_cookie))

I have 10 toys.
나는 10개의 장난감과 5개의 과자를 가지고 있다.

### f 포맷팅
<li> 파이썬 버전 3.6이상만 지원한다.</li>

In [246]:
name = "홍길동"
age = 16
print(f"나의 이름은 {name}이고, 나이는 {age}살 입니다.")

나의 이름은 홍길동이고, 나이는 16살 입니다.

### join() 메소드
"문자열에 넣고 싶은 문자".join("원래 문자열")

In [252]:
result = ".".join("abcd")
print(result)

a.b.c.d